.header
  .o-container
    header
      a(href="#"): img(src="images/logo.svg", alt="logo").brand
      nav
        ul.c-menu.c-menu--main
          li.c-menu__item: a(href="#").c-menu__link Features
          li.c-menu__item: a(href="#").c-menu__link Team
          li.c-menu__item: a(href="#").c-menu__link Sign In
    .hero
      img(src="images/illustration-intro.png", alt="intro")