.o-container
  .stay-productive
    img(src="images/illustration-stay-productive.png", alt="stay productive")
    .stay-productive__content
      h2.heading--secondary Stay productive, wherever you are
      p.stay-productive__text Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
      p.stay-productive__text Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
      .cta-link
        a(href="#").cta-link__work See how Fylo works
        img(src="images/icon-arrow.svg", alt="arrow")