.o-container
  .c-testimonials
    figure.c-testimonial
      blockquote.c-testimonial__text Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
      footer.c-testimonial__info
        .c-testimonial__img: img(src="images/profile-1.jpg", alt="profile 1")
        .c-testimonial__data
          cite.c-testimonial__author Satish Patel
          cite.c-testimonial__company Founder & CEO, Huddle

    figure.c-testimonial
      blockquote.c-testimonial__text Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
      footer.c-testimonial__info
        .c-testimonial__img: img(src="images/profile-2.jpg", alt="profile 2")
        .c-testimonial__data
          cite.c-testimonial__author Bruce McKenzie
          cite.c-testimonial__company Founder & CEO, Huddle

    figure.c-testimonial
      blockquote.c-testimonial__text Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
      footer.c-testimonial__info
        .c-testimonial__img: img(src="images/profile-3.jpg", alt="profile 3")
        .c-testimonial__data
          cite.c-testimonial__author Iva Boyd
          cite.c-testimonial__company Founder & CEO, Huddle