extends templates/template
block content
  //Intro
  include ./block/intro
  //Features
  include ./block/features
  //Stay-productive
  include ./block/stay-productive
  //Testimonials
  include ./block/testimonials
  //Newsletter
  include ./block/newsletter